---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Thank You | Power Grab TX">
  <div class="thank-you-section">
    <img
      src="/powergrabtx.png"
      alt="Power Grab TX"
      class="thank-you-logo"
    />
    <h1>Thank You!</h1>
    <p>
      Your message has been received. We'll get back to you as soon as
      possible.
    </p>
    <a href="/" class="btn">Back to Home</a>
  </div>
</Layout>